body {
  color: white;
}
.header {
  background-image: url("../images/astronaut.jpg");
  background-size: cover;
  background-position: 0px 1550px;
  background-attachment: fixed;
  height: 70vh;
  padding-top: 5px;
}
p {
  color: black;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  /* padding-left: 10px; */
  padding-top: 60px;
}

.test {
  float: right;
  display: "flext";
  padding: 7px;
  padding-left: 10px;
  background-color: brown;
  color: white;
  margin: 2px;
  margin-right: 15px;
  text-decoration: none;
}
.search {
  padding-top: 70px;
  text-align: center;
  border: 0px none black;
}
input {
  padding: 7px;
}
button {
  padding: 9px;
  margin: 5px;
  background-color: brown;
  border: 0px none black;
  color: white;

  border-radius: 5px;
}
.image-item {
  display: inline-block;
  padding: 10px 23px;
}
img {
  cursor: pointer;
  margin-bottom: 1px;
}

.image-style {
  height: 79vh;
  width: 75%;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
.content p {
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  padding-right: 20px;
}
.content .image-receive {
  width: 65vh;
  height: 80vh;
  position: absolute;
  left: 20px;
}

.instagam_logo{
float: right;
height: 40px;
display: inline;
}
.user_tag{
  display: inline;
  float: right;
  text-decoration: none;
}