body {
  color: white;
}
.style {
  background-image: url("../images/astronaut3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  padding-top: 5px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  /* padding-left: 10px; */
  padding-top: 60px;
}
li {
  list-style: none;
  float: right;
  padding: 7px;
  padding-left: 10px;
  background-color: brown;
  color: white;
  margin: 2px;
  margin-right: 15px;
}
.search {
  padding-top: 70px;
  text-align: center;
  border: 0px none black;
}
input {
  padding: 7px;
}
button {
  padding: 9px;
  margin: 5px;
  background-color: brown;
  border: 0px none black;
  color: white;

  border-radius: 5px;
}
